@import '../../styles/variables';

.side-nav {
  position: absolute;
  top: 0;
  left: calc(-25% + 25px);
  bottom: 0;
  color: $base-color;
  background-color: $highlight-color;
  z-index: 1000;
  min-width: 25%;
  transition: left ease-in-out 500ms;

  .side-nav__toggle {
    position: absolute;
    right: 24px;
    top: 50px;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .side-nav__list {
    margin-top: 180px;
  }

  .vertical-text {
    position: absolute;
    right: -8px;
    top: 50px;
    transform: rotate(-90deg);
  }

  &.side-nav__open {
    left: 0;
  }

  .list__item {
    margin: 2rem 4rem;
  }
}

.nav-link {
  color: $base-color;
  font-size: 2rem;

  &.nav-link__active {
    text-decoration: underline;
    text-decoration-color: $base-color;
  }
}
