.chat-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-left: 10px;
  resize: 'none';
}
.chat-button {
  font-size: 1.2em;
  margin-top: 40px;
}
.chat-input-counter {
  float: right;
  padding-right: 55px;
}

.misc-interract-btns-container {
  cursor: default;
  display: inline-flex;

  .misc-interract-btns {
    margin: auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.misc-video-info {
  border-bottom: 2px lightgrey solid;
}

.link-unstyled {
  color: inherit;
  text-decoration: none;
}

.float-right {
  float: right;
}

.color-lightgrey {
  color: lightgrey;
}
.color-grey {
  color: grey;
}

.chat-input-container {
  border-top: 2px lightgrey solid;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
}

.chat-log-container {
  height: calc(100vh - 70px - 50px - 150px);
}
